html, body { height: 100%; margin: 10px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dev {
  .border000 {
    border: 1px solid #000;
  }
  &.border000 {
    border: 1px solid #000;
    padding: 4px 8px 4px 8px;
    margin: 4px 0;
  }
  &.css-atom {
    background: #aaa;
    color: #fff;
    font-size: 10px;
  }
  &.css-molecule {
    background: #888;
    color: #fff;
    font-size: 12px;
  }
  &.css-organism {
    background: #000;
    color: #fff;
    font-size: 14px;
  }
  &.css-screen {
    background: #fff;
    color: #000;
    font-size: 14px;
  }
  &.css-yield {
    background: #eaffe4;
    color: #000;
    font-size: 14px;
  }
}
