html, body { height: 100%; margin: 10px; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  // background: #ccc;
}

.dev {
  .border000 {
    border: 1px solid #4f5177;
  }
  &.border000 {
    border: 1px solid #4f5177;
    padding: 4px 8px 4px 8px;
    margin: 4px 0;
  }
  &.css-atom {
    background: #a84e71;
    color: #fff;
    font-size: 10px;
  }
  &.css-molecule {
    background: #b95855;
    color: #fff;
    font-size: 12px;
  }
  &.css-organism {
    background: #c46353;
    color: #fff;
    font-size: 14px;
  }
  &.css-screen {
    background: #c67e44;
    color: #000;
    font-size: 14px;
  }
  &.css-yield {
    background: #b8a53c;
    color: #000;
    font-size: 14px;
  }
}
